body {
    background: rgb(255, 256, 218);
    color: rgb(42, 42, 42);
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 30%;
}

input {
    padding: 16px 10px;
    box-sizing: border-box;
    width: 100%;
    border: 0;
    font-size: 2em;
    background-color: #333;
    color: #eee;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

td {
    font-size: 2em;
    padding: 0.7em;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

td:hover {
    background-color: rgb(199, 199 ,199);
}

td:active {
    background: #7f7f7f;
}

.vari {
    background-color: rgb(70, 70, 70);
    color: #eee;
}

.vari:hover {
    background-color: #222;
}

.equalbtn {
    background-color: rgb(255, 160, 51);
}

span {
    font-family: Material-Icons, sans-serif;
}